{% extends 'nav.htm2' %}

{% block body %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Produkter</title>
    <link rel="stylesheet" href="static/styling.css">
</head>

<body>
    <nav>
        <a class="logo" href="index.html"><img src="static/bilder/Bambu_Slabswird.svg" alt=""></a>
        <div class="textnav">
            <a href="index.html">Hjem</a>
            <a href="detalj.html">Produkter</a>
            <a href="portefolie.html">Things</a>
            <a href="">Things</a>
        </div>
        <div id="totingsammen">
            <a href="logginn.html"> <button id="kjøpeknapp">Logg inn</button> </a>
            <a href="Handlekurv.html"><img id="handlekurv" src="static/bilder/Handlekurv.svg" alt=""></a>
        </div>
    </nav>

    <img id="hovedbilde" src="static/bilder/Mangeprodukter.jpg" alt="">
    <div class="produkter-containerover">
        <div class="produkter-container">
            <div class="produkt">
                <a href="prudukt.html?id=1">
                    <div class="Bilder">
                        <img src="static/bilder/Rynkefjerner.jpg" alt="Et bilde av en rynkefjerner">
                    </div>
                    <div class="Prisogmer">
                        <p id="Overskrift">Fin Rynke-fjerner-ting</p>
                        <p id="Pris">Pris: 10 kr</p>
                        <p id="Semer">Se mer</p>
                    </div>
                </a>
            </div>
            <!-- Flere produkter -->
            <div class="produkt">
                <a href="prudukt.html?id=2">
                    <div class="Bilder">
                        <img src="static/bilder/Gele.jpg" alt="Et bilde av gele">
                    </div>
                    <div class="Prisogmer">
                        <p id="Overskrift">Gelé</p>
                        <p id="Pris">Pris: 1000 kr</p>
                        <p id="Semer">Se mer</p>
                    </div>
                </a>
            </div>
            <!-- Resten av produktene med oppdaterte bildebaner -->
            <div class="produkt">
                <a href="prudukt.html?id=3">
                    <div class="Bilder">
                        <img src="static/bilder/Akvarium.jpg" alt="Et bilde av et akvarium">
                    </div>
                    <div class="Prisogmer">
                        <p id="Overskrift">Akvarium</p>
                        <p id="Pris">Pris: 200 kr</p>
                        <p id="Semer">Se mer</p>
                    </div>
                </a>
            </div>
            <!-- Flere oppdaterte produktkort følger samme mønster -->
        </div>
    </div>

    <div id="knappdiv">
        <a id="Flereprodukter" href="#hovedbilde">Tilbake til toppen</a> 
    </div>

    <div class="fotter">
        <h1>Vær den første til å få vite om våres nyeste produkter!</h1>
        <div class="signup-container">
            <input type="email" class="email-input" placeholder="Skriv din/hennes/hans/oss/deres/ailien email">
            <button class="signup-button">Sign up</button>
        </div>
    </div>
    <script src="static/js.js"></script>
</body>

</html>
{% endblock %}
