<!DOCTYPE html>
<html lang="no">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Glemt passord</title>
    <link rel="stylesheet" href="static/Style.css">
    <link rel="stylesheet" href="static/Styling.css">
</head>
<body>
    <div class="container">
        <h1>Glemt passord</h1>
        <form method="POST">
            <input type="email" name="email" placeholder="Din e-post" required>
            <button type="submit">Send tilbakestillingskode</button>
        </form>
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                <ul>
                {% for message in messages %}
                    <li class="flash">{{ message }}</li>
                {% endfor %}
                </ul>
            {% endif %}
        {% endwith %}
    </div>
    <div class="fotter">
        <h1>Vær den første til å få vite om våres nyeste produkter!</h1>
        <form method="POST">
        <div class="signup-container">
            <input type="email" name="nyheter" class="email-input" placeholder="Skriv din/hennes/hans/oss/deres/ailien email">
            <button type="submit" class="signup-button">Sign up</button>
        </div>
        </form>
    </div>
</body>

</html>
