<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Handlekurv</title>
    <link rel="stylesheet" href="static/styling.css">
</head>
<body>
    <nav>
        <a class="logo" href="index.html"><img src="static/bilder/Bambu_Slabswird.svg" alt="Logo"></a>
        <div class="textnav">
            <a href="index.html">Hjem</a>
            <a href="detalj.html">Produkter</a>
            <a href="prudukt.html">Things</a>
            <a href="#">Things</a>
        </div>
        <div id="totingsammen">
            <a href="logginn.html"><button id="kjøpeknapp">Logg inn</button></a>
            <a href="Handlekurv.html"><img id="handlekurv" src="static/bilder/Handlekurv.svg" alt="Handlekurv"></a>
        </div>
    </nav>
    <h1 id="Handlekurvoverskrift">Handlekurv</h1>
    <div class="Teksthandlekurv">
        <p>Produkt</p>
        <div class="antallogtil">
            <p>Antall</p>
            <p>Til sammen</p>
        </div>
    </div>
    <div class="produkthandlekurv">
        <div class="bildeogprodukt">
            <img id="productImageHandlekurv" src="static/bilder/Rynker.jpg" alt="Produktbilde">
            <div class="tekstprodukthandlekurv">
                <p id="productNameHandlekurv">Fin rynkefjerner</p>
                <p id="productPriceHandlekurv">10 kr</p>
            </div>
        </div>
        <div class="antall">
            <div class="number-input">
                <input type="number" min="0" value="0">
            </div>
        </div>
        <div class="Tilsammenpris">
            <p id="productTotalPriceHandlekurv">10 kr</p>
        </div>
    </div>
    <div class="Handlekurvting">
        <a id="Flereprodukter" href="index.html">Kjøp nå</a>
    </div>
    <div class="fotter">
        <h1>Vær den første til å få vite om våres nyeste produkter!</h1>
        <div class="signup-container">
            <input type="email" name="nyheter" class="email-input" placeholder="Skriv din/hennes/hans/oss/deres/ailien email">
            <button type="submit" class="signup-button">Sign up</button>
        </div>
    </div>
    <script src="static/js.js"></script>
</body>
</html>
