{% extends 'nav2.html' %}


{% block body %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Handlekurv</title>
    <link rel="stylesheet" href="static/styling.css">
</head>
<body>
    <div class="container">
        <h1 id="Handlekurvoverskrift">Handlekurv</h1>
        
        <div class="produkthandlekurv">
            {% if cart_items %}
            {% for item in cart_items %}
            <div class="handlekurvalt">
                <div class="bildeogprodukt">
                    <img id="productImageHandlekurv" src="{{ item.product.image }}" alt="{{ item.product.name }}">
                    <div class="tekstprodukthandlekurv">
                        <p id="productNameHandlekurv">{{ item.product.name }}</p>
                        <p id="productPriceHandlekurv">Pris: {{ item.product.price }}</p>
                        <p>Antall: {{ item.quantity }}</p>
                        <p>Til sammen: {{ item.quantity * item.product.pricetall }} {{ item.product.pricetext }} </p>
                    </div>
                    
                </div>
                <div>
                    <form action="{{ url_for('remove_from_cart', product_id=item.product_id) }}" method="POST">
                        <button type="submit">Fjern fra handlekurv</button>
                    </form>
                </div>
            </div>
            {% endfor %}
            {% else %}
            <p>Handlekurven din er tom.</p>
            {% endif %}
        </div>
        <div id="knappdivvv2">
            <form action="{{ url_for('kvitering') }}" method="POST">
            <a type="submit" id="handlekurvLink" href="#"><button id="leggTilHandklekurvID">Kjøp</button></a>
        </form>
        <p>Pris til sammen: Dette klarer du litt hoderegning skader ikke</p>
        <div class="Handlekurvting">
            <a id="Flereprodukter" href="index.html">Fortsett å handle</a>
        </div>
        
    </div>
    <div class="fotter">
        <h1>Vær den første til å få vite om våres nyeste produkter!</h1>
        <form method="POST" action="{{ url_for('subscribe_newsletter') }}">
            <div class="signup-container">
                <input type="email" name="nyheter" class="email-input" placeholder="Skriv din/hennes/hans/oss/deres/ailien email">
                <button type="submit" class="signup-button">Sign up</button>
            </div>
        </form>
    </div>
    <script src="static/js.js"></script>
</body>
</html>
{% endblock %}