<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hjem</title>
    <link rel="stylesheet" href="static/styling.css">
</head>

<body>
    <nav>
        <div class="logo">
            <a href="index.html"><img src="static/bilder/Bambu_Slabswird.svg" alt="Logoen og hjem knapp"></a>
        </div>

        </div>
        <div class="textnav">
            <a href="index.html">Hjem</a>
            <a href="detalj.html">Produkter</a>
            <a href="prudukt.html">Things</a>
            <a href="">Things</a>


        </div>
        <div id="totingsammen">
            <a href="logginn.html"> <button id="kjøpeknapp">Logg inn</button> </a>
            <a href="Handlekurv.html"><img id="handlekurv" src="static/bilder/Handlekurv.svg" alt="Handlekurv"></a>
        </div>
        </div>
    </nav>
    <img id="hovedbilde" src="static/bilder/Hovedbilde.png" alt="Pikselert bilde av en skog">
    <div class="tekstover">Utforsk våre nyeste produkter!</div>
    <h1>Ofte kjøpt sammen</h1>
    <div class="produkter-containerover">
        <div class="produkter-container">
            <div class="produkt">
                <a href="prudukt.html?id=13">
                    <div class="Bilder">
                        <img src="static/bilder/Baby.jpg" alt="Et bilde av en baby">
                    </div>
                    <div class="Prisogmer">
                        <p id="Overskrift">Baby</p>
                        <p id="Pris">Pris: 3500 øre</p>
                        <p id="Semer">Se mer</p>
                    </div>
                </a>
            </div>

            <div class="produkt">
                <a href="prudukt.html?id=14">
                    <div class="Bilder">
                        <img src="static/bilder/Monster.jpg" alt="Et bilde av et monster under en seng">
                    </div>
                    <div class="Prisogmer">
                        <p id="Overskrift">Monster under sengen</p>
                        <p id="Pris">Pris: 10 kr</p>
                        <p id="Semer">Se mer</p>
                    </div>
                </a>
            </div>

            <div class="produkt">
                <a href="prudukt.html?id=15">
                    <div class="Bilder">
                        <img src="static/bilder/Daubebi.jpg" alt="Et bilde av en grav med bildet av babyen på graven">
                    </div>
                    <div class="Prisogmer">
                        <p id="Overskrift">Grav</p>
                        <p id="Pris">Pris: 50 millioner kr</p>
                        <p id="Semer">Se mer</p>
                    </div>
                </a>
            </div>
        </div>
    </div>
    <div id="knappdivv">
        <a id="Flereprodukter" href="Handlekurv.html?id=19">Kjøp pakke</a>
    </div>

    <h1>Nye produkter</h1>
    <div class="produkter-containerover">
        <div class="produkter-container">
            <div class="produkt">
                <a href="prudukt.html?id=16">
                    <div class="Bilder">
                        <img src="static/bilder/Organiskesko.jpg" alt="Sko laget av fisk">
                    </div>
                    <div class="Prisogmer">
                        <p id="Overskrift">Organiske sko</p>
                        <p id="Pris">Pris: 4 fisk</p>
                        <p id="Semer">Se mer</p>
                    </div>
                </a>
            </div>

            <div class="produkt">
                <a href="prudukt.html?id=17">
                    <div class="Bilder">
                        <img src="static/bilder/Cosplay.jpg" alt="Ekorn fingerleker">
                    </div>
                    <div class="Prisogmer">
                        <p id="Overskrift">Cosplay</p>
                        <p id="Pris">Pris: Ett ekorn + 1000 kr</p>
                        <p id="Semer">Se mer</p>
                    </div>
                </a>
            </div>

            <div class="produkt">
                <a href="prudukt.html?id=18">
                    <div class="Bilder">
                        <img src="static/bilder/Vegansko.jpg" alt="Sko laget av gress">
                    </div>
                    <div class="Prisogmer">
                        <p id="Overskrift">Vegansko</p>
                        <p id="Pris">Pris: 2409 kr</p>
                        <p id="Semer">Se mer</p>
                    </div>
                </a>
            </div>
        </div>
    </div>


    </div>
    <div id="knappdiv">
        <a id="Flereprodukter" href="detalj.html">Flere produkter</a>
    </div>
    <div class="fotter">
        <h1>Vær den første til å få vite om våres nyeste produkter!</h1>
        <form method="POST">
        <div class="signup-container">
            <input type="email" name="nyheter" class="email-input" placeholder="Skriv din/hennes/hans/oss/deres/ailien email">
            <button type="submit" class="signup-button">Sign up</button>
        </div>
        </form>
    </div>
    <script src="static/js.js"></script>

</body>

</html>