{% extends 'nav2.html' %}


{% block body %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="static/Style.css">
    <link rel="stylesheet" href="static/styling.css">
</head>
<body>

    <p>Antall spillere som har trykket på spillet: {{ visit_count }}</p>
    <title>Logget inn</title>
    <h1>Du er logget inn</h1>
    <div class="bilde">
    <a id="bilde" href="Spill"><img src="/static/bilder/Spill.png" alt="Bilde av klikker spillet"></a>
    </div>
    <div id="leaderboard">
        <h2>Toppliste - Av flest dreppte Big mommys</h2>
        <ol>
        {% for user in top_users %}
            <li>{{ user.email }} - Beseirede bosser: {{ user.defeats }}</li>
        {% endfor %}
        </ol>
    </div> 
    <div class="fotter">
        <h1>Vær den første til å få vite om våres nyeste produkter!</h1>
        <form method="POST" action="{{ url_for('subscribe_newsletter') }}">
            <div class="signup-container">
                <input type="email" name="nyheter" class="email-input" placeholder="Skriv din/hennes/hans/oss/deres/ailien email">
                <button type="submit" class="signup-button">Sign up</button>
            </div>
        </form>
    </div>
</body>
</html>


{% endblock %}