<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Produkt</title>
    <link rel="stylesheet" href="static/styling.css">
</head>
<body>
    <nav>
        <a class="logo" href="index.html"><img src="./Bilder/Bambu_Slabswird.svg" alt=""></a>
        <div class="textnav">
            <a href="index.html">Hjem</a>
            <a href="detalj.html">Produkter</a>
            <a href="prudukt.html">Things</a>
            <a href="">Things</a>
        </div>
        <div id="totingsammen">
            <a href="Handlekurv.html"><img id="handlekurv" src="Bilder/Handlekurv.svg" alt=""></a>
        </div>
    </div>
</nav>
<h1>Logg inn</h1>
<div class="logginn2">
    <div class="logginn">
        <div>
            <p>E-post</p>
            <input id="inputt" type="text">
        </div>
        <div>
            <p>Passord</p>
            <input id="inputt" type="text">
        </div>
        <div id="logginnknapp">
            <a href="Index.html"><p>Logg inn</p></a>
        </div>
        
        <div>
            <p>Lag ny bruker</p>
        </div>
    </div>
</div>
<div class="logginn2">
<div class="logginn" class="container">
    <form method="POST" action="">
        <div>
        <p>E-post</p>
        {{ form.hidden_tag() }}
        </div>
        <p>Passord</p>
        {{ form.email }}
        <div>
        {{ form.password }}
        </div>
    <div id="logginnknapp">
        {{ form.submit }}
    </div>
    </form>
    <a href="Registrer">Har du ikke en bruker? Lag en</a>
    <a href="glemt_passord">Glemt passord?</a>
</div>
</div>


<div class="fotter">
    <h1>Vær den første til å få vite om våres nyeste produkter!</h1>
    <form method="POST" action="{{ url_for('subscribe_newsletter') }}">
        <div class="signup-container">
            <input type="email" name="nyheter" class="email-input" placeholder="Skriv din/hennes/hans/oss/deres/ailien email">
            <button type="submit" class="signup-button">Sign up</button>
        </div>
    </form>
</div>
<script src="static/js.js"></script>
</body>
</html>
