<!DOCTYPE html>
<html lang="en">
<head>
    <title>{{ tittel }}</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/Style.css">
</head>
<body>
    <nav>
        <a class="logo" href="index.html"><img src="./Bilder/Bambu_Slabswird.svg" alt=""></a>
        <div class="textnav">
            <a href="index.html">Hjem</a>
            <a href="detalj.html">Produkter</a>
            <a href="portefolie.html">Things</a>
            <a href="">Things</a>
        </div>
        <div id="totingsammen">
            <a href="logginn.html"> <button id="kjøpeknapp">Logg inn</button> </a>
            <a href="Handlekurv.html"><img id="handlekurv" src="Bilder/Handlekurv.svg" alt=""></a>
        </div>
    </div>
</nav>
    {% block body %}
    {% endblock %}
</body>
</html>