<body>
    <nav>
        <a class="logo" href="index.html">
            <img src="static/bilder/Bambu_Slabswird.svg" alt="Logo">
        </a>
        <div class="textnav">
            <a href="index.html">Hjem</a>
            <a href="detalj.html">Produkter</a>
       <form action="{{ url_for('search') }}" method="GET">
        <input type="text" name="query" placeholder="Søk etter product" required>
        <button type="submit">Søk</button>
       </form>
        </div>
        <div id="totingsammen">
            <a href="Hjelp.html">Hjelp</a>
            <a href="logginn.html">
                <button id="kjøpeknapp">Logg inn</button>
            </a>
            <a href="Handlekurv.html">
                <img id="handlekurv" src="static/bilder/Handlekurv.svg" alt="Handlekurv">
            </a>
        </div>
    </nav>
    {% block body %}
    {% endblock %}
</body>
</html>
