<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Produkt</title>
    <link rel="stylesheet" href="static/styling.css">
</head>
<body>
    <nav>
        <a class="logo" href="index.html"><img src="static/bilder/Bambu_Slabswird.svg" alt=""></a>
        <div class="textnav">
            <a href="index.html">Hjem</a>
            <a href="detalj.html">Produkter</a>
            <a href="prudukt.html">Things</a>
            <a href="">Things</a>
        </div>
        <div id="totingsammen">
            <a href="logginn.html"> <button id="kjøpeknapp">Logg inn</button> </a>
            <a href="Handlekurv.html"><img id="handlekurv" src="static/bilder/Handlekurv.svg" alt=""></a>
        </div>
    </div>
</nav>

<div class="altprudukter">
    <img id="productImage" src="{{ produkt.image }}" alt="Bilde av {{ produkt.name }}">
    <div class="tekstogkjøp">
        <h2 id="productName">{{ produkt.name }}</h2>
        <p id="productDescription">{{ produkt.description }}</p>
        <p id="productPrice">{{ produkt.price }}</p>
        <div id="knappdivvv2">
            <form action="{{ url_for('add_to_cart', product_id=produkt.id) }}" method="POST">
            <a type="submit" id="handlekurvLink" href="#"><button id="leggTilHandklekurvID">Kjøp</button></a>
        </form>
        </div>
    </div>
</div>

<div class="fotter">
    <h1>Vær den første til å få vite om våres nyeste produkter!</h1>
    <form method="POST" action="{{ url_for('subscribe_newsletter') }}">
        <div class="signup-container">
            <input type="email" name="nyheter" class="email-input" placeholder="Skriv din/hennes/hans/oss/deres/ailien email">
            <button type="submit" class="signup-button">Sign up</button>
        </div>
    </form>
</div>
<script src="static/js.js"></script>
</body>
</html>
