{% extends 'nav2.html' %}


{% block body %}
<!DOCTYPE html>
<html lang="no">
<head>
    <meta charset="UTF-8">
    <title>Verifiser E-post</title>
    <link rel="stylesheet" href="static/Style.css">
    <link rel="stylesheet" href="static/styling.css">
</head>
<body>
    <div class="container">
        <h1>Verifiser E-post</h1>
        <form method="POST">
            <input type="text" name="code" placeholder="Skriv inn verifiseringskode" required>
            <input type="submit" value="Verifiser">
        </form>
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                <ul>
                {% for message in messages %}
                    <li class="flash">{{ message }}</li>
                {% endfor %}
                </ul>
            {% endif %}
        {% endwith %}
    </div>
    <div class="fotter">
        <h1>Vær den første til å få vite om våres nyeste produkter!</h1>
        <form method="POST" action="{{ url_for('subscribe_newsletter') }}">
            <div class="signup-container">
                <input type="email" name="nyheter" class="email-input" placeholder="Skriv din/hennes/hans/oss/deres/ailien email">
                <button type="submit" class="signup-button">Sign up</button>
            </div>
        </form>
    </div>
</body>
</html>
{% endblock %}
